*.aux
*.dvi
*.out
*.log
*.toc
*.sty
*.cls
*.ps
*.pdf
**/pdf.bash
**/*.swp
**/*.gz
**/*.aux
**/*.dvi
**/*.ps
**/*.pdf
**/*.out
**/*.log
**/*.toc
**/*.lot
**/*.lof
**/*.sty
**/*.cls
polished/**/*
tmp/*
templated/myattempt.synctex.gz
